*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
}
.App{
  margin: auto;
  width: 320px;
  height: 60vh;
  border: 2px solid rebeccapurple;
  margin-top: 1%;
  background-color: skyblue;
  display: flex;
  flex-flow: column;
}
.title{
  margin: auto;
  margin-top: 6%;
  text-align: center;
}
.disp{
  height: 100px auto;
}
.App_wrapper{
  background-color: aqua;
}
.butt{
  margin-top: 4%;
}
